<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cirrious.FluentLayout" version="2.9.0" targetFramework="xamarinios10" />
  <package id="Cirrious.FluentLayout.Extensions" version="0.0.1" targetFramework="xamarinios10" />
  <package id="FloatLabeledEntry.iOS" version="1.1.1" targetFramework="xamarinios10" />
  <package id="MvvmCross" version="7.0.1" targetFramework="xamarinios10" />
  <package id="Mvx.FluentTableView" version="1.0.0" targetFramework="xamarinios10" />
  <package id="NuGet.Build.Packaging" version="0.2.5-dev.8" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="WebP.Touch" version="1.0.8" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading" version="2.4.11.982" targetFramework="xamarinios10" />
</packages>